Missing content-length header field in some responses

### Checklist

<!-- Please make sure you check all these items before submitting your bug report. -->

- [x] The bug is reproducible against the latest release and/or `master`.
- [x] There are no similar issues or pull requests to fix it yet.

### Describe the bug

The Content-Length header field is not set for cases where body is empty. In some cases this seems to not be according to the HTTP/1.1 spec and creates troubles when using for example traefik as a proxy in front of a starlette-based backend.

See this issue for details: https://github.com/traefik/traefik/issues/4456
Specifically, the final conclusion: https://github.com/traefik/traefik/issues/4456#issuecomment-593539169

### To reproduce

```python
>>> from starlette.responses import RedirectResponse
>>> RedirectResponse(url="/", status_code=302).headers
MutableHeaders({'location': '/'})
```
Header has not content-length field.

### Expected behavior

```python
>>> from starlette.responses import RedirectResponse
>>> RedirectResponse(url="/", status_code=302).headers
MutableHeaders({'content-length': '0', 'location': '/'})
```
I expect there to be a content-length field specifying zero length

### Actual behavior

```python
>>> from starlette.responses import RedirectResponse
>>> RedirectResponse(url="/", status_code=302).headers
MutableHeaders({'location': '/'})
```
Header has no content-length field.

### Debugging material

N/A

### Environment

- OS: Linux (WSL2)
- Python version: 3.8.2
- Starlette version: 0.13.6

### Additional context

This bug is probably also present for other type of responses (other status-codes). Last paragraph (in bold) from https://tools.ietf.org/html/rfc7230#section-3.3 is of interest:

> 3.3.  Message Body
> 
>    The message body (if any) of an HTTP message is used to carry the
>    payload body of that request or response.  The message body is
>    identical to the payload body unless a transfer coding has been
>    applied, as described in Section 3.3.1.
> 
>      message-body = *OCTET
> 
>    The rules for when a message body is allowed in a message differ for
>    requests and responses.
> 
>    The presence of a message body in a request is signaled by a
>    Content-Length or Transfer-Encoding header field.  Request message
>    framing is independent of method semantics, even if the method does
>    not define any use for a message body.
> 
>    The presence of a message body in a response depends on both the
>    request method to which it is responding and the response status code
>    (Section 3.1.2).  Responses to the HEAD request method (Section 4.3.2
>    of [RFC7231]) never include a message body because the associated
>    response header fields (e.g., Transfer-Encoding, Content-Length,
>    etc.), if present, indicate only what their values would have been if
>    the request method had been GET (Section 4.3.1 of [RFC7231]). 2xx
>    (Successful) responses to a CONNECT request method (Section 4.3.6 of
>    [RFC7231]) switch to tunnel mode instead of having a message body.
>    **All 1xx (Informational), 204 (No Content), and 304 (Not Modified)
>    responses do not include a message body.  All other responses do
>    include a message body, although the body might be of zero length.**

For anyone running into the same problem, I resorted to the following workaround using a middleware:

```python
@app.middleware("http")
async def content_length_header(request: Request, call_next: Callable) -> Response:
    response = await call_next(request)

    if 100 <= response.status_code < 200:
        return response

    if response.status_code == 204:
        return response

    if response.status_code == 304:
        return response

    if "content-length" not in response.headers:
        response.headers["content-length"] = "0"

    return response
```

On a side note: While using this workaround works well for the above problem, it made me run into the following issue in my test suite https://github.com/encode/starlette/issues/472

This is merged on `master`, and it will be available on the next release (current release is 0.17.1). 